.card {
  padding: 1em;
  break-inside: avoid;
  background: var(--bg-beta);
  border-radius: 5px;
  height: fit-content;
  text-align: center;
  &.premium {
  }

  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
}

.image {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  display: flex;
  margin: 0 auto;
  background-color: var(--bg-alpha);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.heading {
  text-transform: uppercase;
}

.desc {
  font-size: 14px;
  color: var(--text-color-beta);
}
