.list {
  display: grid;
  grid-template-columns: repeat(1, minmax(200px, 1fr));
  grid-auto-rows: 1px;
  column-gap: 16px;

  @media (min-width: 600px) {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }

  @media (min-width: 960px) {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
}
