.link {
  height: 36px;
  width: 204px;
  color: var(--bg-beta);
  background-color: var(--tg-blue);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 200ms ease, filter 200ms ease;

  &:hover {
    filter: brightness(1.1);
  }
}

.flexible {
  width: 100%;
}
